@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Plaindrome Check</h2>
    <div>
        <input class="btn-primary" type="button" title="Check Palindrome" value="Check Palindrome" onclick="location.href='@Url.Action("Palindrome", "Palindrome")'" />
    </div>
</div>
